.find-the-best{
    display: flex;
    //  justify-content: space-between;
     flex-direction: column;
     align-items: center;
     gap: 1rem;
    width: 100%;
    max-width: 1115px;
    padding: 2rem ;
    height: 500px;
    position: relative;

    .find-the-best-talent{
        font-family:Livvic-Bold;
        font-size: 2.5rem;
        color: white;
        line-height: 2.5rem;
        text-align: center;
    }

    p{
        font-family: Livvic-SemiBold;
        line-height: 1.75rem;
        color: white;
        margin: 0;
        // text-align: center;

        br{
            display: none;
        }
    }

    .semi-circle{
        position: absolute;
        bottom: -100px;
        right: 25px;
        z-index: 1;
        
    }
    .semi-circle-black{
        position: absolute;
        bottom: -100px;
        right: 0;
        
    }
}


@media (min-width:500px){
    .find-the-best{
       flex-direction: row;
       justify-content: space-between;
       align-items: baseline;
       gap: 0;
        .find-the-best-talent{
            font-size: 6rem;
            line-height: 100px;
            text-align: initial;
        }

        p{
            text-align: initial;
            line-height: 1.75rem;

            br{
                display: block;
            }
        }
    }
}